#pan-zoom-frame {
	height: 70%;
	width: 70%;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
}

.layer {
	transform-origin: top left;

	position: absolute;
	top: 0;
	left: 0;
}

.layer:last-of-type {
	background-image: url('../images/alpha.png');
}


#layer-controls {
	position: absolute;
	left: 0;
	bottom: 0;

	height: 200px;
	width: 400px;
	z-index: 100000;
}

#layer-display {
	position: absolute;
	left: 0;
	top: 0;

	height: 85%;
	width: 400px;

	overflow-y: scroll;
}

#layer-display .disp-layer {
	height: 50px;
	background-color: blue;
}

#layer-display .disp-layer.active {
	background-color: purple;
}

#layer-controls #controls {
	height: 15%;

	position: absolute;
	bottom: 0;
	left: 0;
}

#controls #add-layer {
	height: 100%;
	width: 30px;

	background-color: green;
	color: white;

	text-align: center;
	font-size: 30px;
	line-height: 30px;

	cursor: pointer;

	border-radius: 20px;
}
