#pan-zoom-frame {
	height: 70%;
	width: 70%;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
}

.layer {
	transform-origin: top left;
}

.layer:last-of-type {
	background-image: url('../images/alpha.png');
}
