#toolbar {
	position: absolute;

	right: 0px;
	top: 0px;
}

.tool-icon {
	height: 50px;
	width: 50px;

	background-color: blue;

	margin: 5px;
}

.tool-icon.active {
	background-color: purple;
}

.tool-icon:not(.active) {
	cursor: pointer;
}

.tool-icon[data-tool='pencil'] {
	background-image: url(../images/tool-icons/pencil.png);

	background-position: center;
    background-size: contain;
}


.tool-icon[data-tool='eraser'] {
	background-image: url(../images/tool-icons/eraser.png);

	background-position: center;
    background-size: contain;
}
